body {
	background: url("/static/image/particle.png");
}

table, th, td {
 	border: 0.4px solid black;
}

.item{
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: min-content;
    transition: 0.1s;
}

.item:hover{
    transform: scale(1.1);
}

.aligncustom{
    text-align: center;
}