{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title> Homepage </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/style.css' %}" rel = "stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<br>
<br>
    
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2> Cari Buku Disini</h2> <img src="{% static 'image/bookstack.svg' %}" width="50" height="50">
            <div class="search">
              <input id="search" type="text" placeholder="Cari judul, pengarang...">
            </div>
          </div>
        </div>
        <br>
        <h5>Tabel pencarian:</h5>
        <table bgcolor="#f2f2f2">
          <tr>
              <th><div id="result" class="p-3 d-flex flex-wrap">Kosong!</div></th>
          </tr>
          
        </table>
        <br>
    </div>

</body>
<script src="{% static 'js/searchbook.js' %}"></script>
</html>